{% extends 'myapp/base.html' %}
{% block content %}
{% if posts.is_published %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if posts.photo %}
            <img src="{{ posts.photo.url }}" style="width:60%; margin:2em; border-radius:5px;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ posts.title }}</h5>
                <p class="card-text bg-light">{{ posts.content }}</p>
                <p class="card-text"> " {{ posts.quote }} "</p>
                <p class="card-text"><small class="text-muted">Опубликовано :
                    {{ posts.time_create}}</small></p>
                <p class="card-text"> Теги : </p>
                {% for tag in posts.tags.all %}
                <p class="card-text" style="font-style:italic;"> {{ tag.name }} </p>
                {% endfor %}
                <p class="card-text"> Категория : {{ posts.cat }} </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
